doctype
html
   head
      title Contact Information
   body
      h3 Following is the contact information
      p
         ul
            li=email
            li To reach through mobile, contact on #{mobile}
